blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
  padding: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  color: #a0aec0;
}

button, [role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

pre, code, kbd, samp {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

.hs-test-app_views-907-18 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-746-88 {
  width: 7.5rem;
}

.hs-test-app_views-718-66 {
  visibility: hidden;
}

.hs-test-app_views-1023-36 {
  width: 17.5rem;
  text-align: left;
}

.hs-test-app_views-1064-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-984-28 {
  width: 15.0rem;
}

.hs-test-app_views-377-65 {
  width: 25.0rem;
}

.hs-test-app_views-935-34 {
  width: 12.5rem;
}

.hs-test-app_views-149-64 {
  border-width: 2px;
  border-color: rgba(245,101,101,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-715-69 {
  width: 7.5rem;
}

.hs-test-app_views-838-78 {
  width: 7.5rem;
}

.hs-test-app_views-1052-18 {
  width: 100.0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgba(74,85,104,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 700;
  margin-bottom: 1.75rem;
}

.hs-test-app_views-1027-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-386-67 {
  width: 7.5rem;
}

.hs-test-app_views-381-20 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hs-test-app_views-981-28 {
  width: 12.5rem;
}

.hs-test-app_views-1028-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-883-37 {
  width: 6.25rem;
  margin-left: 1.5rem;
}

.hs-test-app_views-610-66 {
  width: 15.0rem;
}

.hs-test-app_views-451-23 {
  height: 3.75rem;
  color: rgba(76,81,191,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1rem;
  font-weight: 600;
  focus-outline-none: nil;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-451-23:hover {
  color: rgba(102,126,234,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-157-37 {
  color: rgba(245,101,101,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 600;
}

.hs-test-app_views-382-20 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hs-test-app_views-129-56 {
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 2px;
  border-color: rgba(237,242,247,var(--border-opacity));
  --border-opacity: 1;
  border-radius: 0.5rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-433-23 {
  background-color: rgba(56,161,105,var(--bg-opacity));
  --bg-opacity: 1;
}

.hs-test-app_views-433-23:hover {
  background-color: rgba(47,133,90,var(--bg-opacity));
  --bg-opacity: 1;
}

.hs-test-app_views-433-23:active {
  background-color: rgba(39,103,73,var(--bg-opacity));
  --bg-opacity: 1;
}

.hs-test-app_views-889-33 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-889-33:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-717-66 {
  visibility: hidden;
}

.hs-test-app_views-387-67 {
  width: 7.5rem;
}

.hs-test-app_views-622-69 {
  width: 15.0rem;
}

.hs-test-app_views-817-18 {
  margin-top: 1.0rem;
  margin-bottom: 2.0rem;
}

.hs-test-app_views-1040-18 {
  width: 100.0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgba(74,85,104,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 700;
  margin-bottom: 1.75rem;
}

.hs-test-app_views-910-34 {
  width: 12.5rem;
}

.hs-test-app_views-974-21 {
  width: 17.5rem;
}

.hs-test-app_views-1000-28 {
  width: 12.5rem;
  font-size: 1.125rem;
}

.hs-test-app_views-1046-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-137-56 {
  padding-bottom: 0.25rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding-right: 0.25rem;
  display: block;
  padding-left: 0.25rem;
  padding-top: 0.25rem;
}

.hs-test-app_views-907-37 {
  width: 6.25rem;
  margin-left: 1.5rem;
}

.hs-test-app_views-591-66 {
  width: 15.0rem;
}

.hs-test-app_views-1048-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-982-28 {
  width: 17.5rem;
}

.hs-test-app_views-1050-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-984-30 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-984-30:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-794-72 {
  width: 20.0rem;
}

.hs-test-app_views-661-20 {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
}

.hs-test-app_views-695-35 {
  width: 12.5rem;
}

.hs-test-app_views-899-36 {
  width: 17.5rem;
  text-align: left;
}

.hs-test-app_views-905-37 {
  width: 6.25rem;
  margin-left: 1.5rem;
}

.hs-test-app_views-820-18 {
  margin-top: 1.0rem;
  margin-bottom: 2.0rem;
}

.hs-test-app_views-904-37 {
  width: 6.25rem;
  margin-left: 1.5rem;
}

.hs-test-app_views-881-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.hs-test-app_views-860-78 {
  width: 7.5rem;
}

.hs-test-app_views-658-20 {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
}

.hs-test-app_views-928-18 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hs-test-app_views-1029-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-681-66 {
  width: 20.0rem;
}

.hs-test-app_views-898-18 {
  margin-top: 1.0rem;
  margin-bottom: 2.0rem;
}

.hs-test-app_views-382-21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hs-test-app_views-908-37 {
  width: 6.25rem;
  margin-left: 1.5rem;
}

.hs-test-app_views-931-18 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-1035-18 {
  min-height: 100vh;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-859-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap-x: (2);
}

.hs-test-app_views-1003-28 {
  width: 17.5rem;
}

.hs-test-app_views-962-25 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 6.0rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(45,55,72,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-962-25:hover {
  border-width: 3px;
  border-color: rgba(72,187,120,var(--border-opacity));
  --border-opacity: 1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hs-test-app_views-1051-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-776-93 {
  width: 20.0rem;
}

.hs-test-app_views-1000-36 {
  width: 17.5rem;
  text-align: left;
}

.hs-test-app_views-398-56 {
  width: 10.0rem;
}

.hs-test-app_views-864-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.hs-test-app_views-863-78 {
  width: 7.5rem;
}

.hs-test-app_views-947-21 {
  width: 12.5rem;
}

.hs-test-app_views-977-28 {
  width: 12.5rem;
  font-size: 1.125rem;
}

.hs-test-app_views-680-66 {
  width: 20.0rem;
}

.hs-test-app_views-976-21 {
  width: 2.5rem;
}

.hs-test-app_views-882-33 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-882-33:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-772-93 {
  width: 20.0rem;
}

.hs-test-app_views-965-21 {
  width: 2.5rem;
}

.hs-test-app_views-940-18 {
  width: 45.0rem;
  border-width: 2px;
  padding-bottom: 1.0rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 1.0rem;
}

.hs-test-app_views-931-34 {
  width: 12.5rem;
}

.hs-test-app_views-775-93 {
  width: 20.0rem;
}

.hs-test-app_views-964-21 {
  width: 12.5rem;
}

.hs-test-app_views-378-65 {
  width: 25.0rem;
}

.hs-test-app_views-1020-36 {
  width: 17.5rem;
  text-align: left;
}

.hs-test-app_views-1038-18 {
  min-height: 100vh;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-930-18 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hs-test-app_views-478-23 {
  color: rgba(90,103,216,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-478-23:hover {
  background-color: rgba(90,103,216,var(--bg-opacity));
  --bg-opacity: 1;
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-478-23:active {
  background-color: rgba(76,81,191,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: rgba(76,81,191,var(--border-opacity));
  --border-opacity: 1;
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-1045-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-818-18 {
  margin-top: 1.0rem;
  margin-bottom: 2.0rem;
}

.hs-test-app_views-141-53 {
  padding-bottom: 0.25rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding-right: 0.25rem;
  display: block;
  padding-left: 0.25rem;
  padding-top: 0.25rem;
}

.hs-test-app_views-923-18 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hs-test-app_views-1024-36 {
  width: 17.5rem;
  text-align: left;
}

.hs-test-app_views-1058-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-819-36 {
  width: 17.5rem;
  text-align: left;
}

.hs-test-app_views-996-28 {
  width: 2.5rem;
}

.hs-test-app_views-1007-28 {
  width: 15.0rem;
}

.hs-test-app_views-937-18 {
  width: 45.0rem;
  border-width: 2px;
  padding-bottom: 1.0rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 1.0rem;
}

.hs-test-app_views-999-18 {
  margin-top: 1.0rem;
  margin-bottom: 2.0rem;
}

.hs-test-app_views-862-78 {
  width: 7.5rem;
}

.hs-test-app_views-645-75 {
  width: 35.0rem;
}

.hs-test-app_views-663-66 {
  width: 37.5rem;
}

.hs-test-app_views-1017-17 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-829-33 {
  width: 65.0rem;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-bottom: 0.5rem;
  background-color: rgba(237,242,247,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-718-69 {
  width: 7.5rem;
}

.hs-test-app_views-1060-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-851-33 {
  width: 65.0rem;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-bottom: 0.5rem;
  background-color: rgba(237,242,247,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-748-85 {
  visibility: hidden;
}

.hs-test-app_views-959-17 {
  margin-top: 1.75rem;
}

.hs-test-app_views-858-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap-x: (2);
}

.hs-test-app_views-986-25 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 6.0rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(45,55,72,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-986-25:hover {
  border-width: 3px;
  border-color: rgba(72,187,120,var(--border-opacity));
  --border-opacity: 1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hs-test-app_views-721-66 {
  visibility: hidden;
}

.hs-test-app_views-1002-28 {
  width: 12.5rem;
}

.hs-test-app_views-890-33 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-890-33:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-679-20 {
  display: flex;
  flex-direction: row;
  margin-bottom: 5.0rem;
}

.hs-test-app_views-897-37 {
  width: 6.25rem;
}

.hs-test-app_views-745-85 {
  visibility: hidden;
}

.hs-test-app_views-978-21 {
  width: 2.5rem;
}

.hs-test-app_views-934-34 {
  width: 12.5rem;
}

.hs-test-app_views-716-69 {
  width: 7.5rem;
}

.hs-test-app_views-956-18 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  height: 4.5rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1.125rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(74,85,104,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-969-21 {
  width: 12.5rem;
}

.hs-test-app_views-644-75 {
  width: 35.0rem;
}

.hs-test-app_views-676-20 {
  display: flex;
  flex-direction: row;
  margin-bottom: 5.0rem;
}

.hs-test-app_views-950-21 {
  width: 17.5rem;
}

.hs-test-app_views-896-37 {
  width: 6.25rem;
}

.hs-test-app_views-1005-30 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-1005-30:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-432-23 {
  background-color: rgba(56,161,105,var(--bg-opacity));
  --bg-opacity: 1;
}

.hs-test-app_views-432-23:hover {
  background-color: rgba(47,133,90,var(--bg-opacity));
  --bg-opacity: 1;
}

.hs-test-app_views-432-23:active {
  background-color: rgba(39,103,73,var(--bg-opacity));
  --bg-opacity: 1;
}

.hs-test-app_views-915-18 {
  width: 45.0rem;
  border-width: 2px;
  padding-bottom: 1.0rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 1.0rem;
}

.hs-test-app_views-637-20 {
  display: flex;
  flex-direction: row;
  gap-x: (20);
  margin-bottom: 1.25rem;
}

.hs-test-app_views-896-17 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-889-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.hs-test-app_views-961-18 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  height: 4.5rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1.125rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(74,85,104,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-1037-18 {
  min-height: 100vh;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-797-72 {
  width: 20.0rem;
}

.hs-test-app_views-822-36 {
  width: 17.5rem;
  text-align: left;
}

.hs-test-app_views-1006-28 {
  width: 17.5rem;
}

.hs-test-app_views-851-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap-x: (2);
}

.hs-test-app_views-1067-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-854-33 {
  width: 65.0rem;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-bottom: 0.5rem;
  background-color: rgba(237,242,247,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-937-21 {
  width: 100%;
  border-width: 2px;
  max-width: 42rem;
  border-color: rgba(160,174,192,var(--border-opacity));
  height: 3.75rem;
  --border-opacity: 1;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding-left: 2.5rem;
}

.hs-test-app_views-937-21:focus-within {
  border-width: 2px;
  border-color: rgba(56,178,172,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-1013-17 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-970-21 {
  width: 2.5rem;
}

.hs-test-app_views-151-64 {
  border-width: 2px;
  border-color: rgba(160,174,192,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-151-64:focus-within {
  border-width: 2px;
  border-color: rgba(56,178,172,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-666-66 {
  width: 37.5rem;
}

.hs-test-app_views-1006-30 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-1006-30:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-1008-28 {
  width: 15.0rem;
}

.hs-test-app_views-477-23 {
  color: rgba(163,191,250,var(--text-opacity));
  --text-opacity: 1;
  border-width: 1px;
  border-color: rgba(163,191,250,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-899-37 {
  width: 6.25rem;
}

.hs-test-app_views-1053-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-968-21 {
  width: 12.5rem;
}

.hs-test-app_views-1056-18 {
  min-height: 100vh;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-409-67 {
  width: 12.5rem;
}

.hs-test-app_views-594-66 {
  width: 15.0rem;
}

.hs-test-app_views-745-88 {
  width: 7.5rem;
}

.hs-test-app_views-153-55 {
  border-width: 2px;
  border-color: rgba(237,242,247,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-796-72 {
  width: 20.0rem;
}

.hs-test-app_views-186-35 {
  visibility: hidden;
}

.hs-test-app_views-476-23 {
  color: rgba(163,191,250,var(--text-opacity));
  --text-opacity: 1;
  border-width: 1px;
  border-color: rgba(163,191,250,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-846-33 {
  width: 65.0rem;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-bottom: 0.5rem;
  background-color: rgba(237,242,247,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-678-20 {
  display: flex;
  flex-direction: row;
  margin-bottom: 5.0rem;
}

.hs-test-app_views-1048-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-1044-18 {
  width: 100.0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgba(74,85,104,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 700;
  margin-bottom: 1.75rem;
}

.hs-test-app_views-1065-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-595-66 {
  width: 15.0rem;
}

.hs-test-app_views-983-28 {
  width: 15.0rem;
}

.hs-test-app_views-941-21 {
  width: 100%;
  border-width: 2px;
  max-width: 42rem;
  border-color: rgba(160,174,192,var(--border-opacity));
  height: 3.75rem;
  --border-opacity: 1;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding-left: 2.5rem;
}

.hs-test-app_views-941-21:focus-within {
  border-width: 2px;
  border-color: rgba(56,178,172,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-608-66 {
  width: 15.0rem;
}

.hs-test-app_views-231-25 {
  width: 100%;
  --text-opacity: 1;
  --bg-opacity: 0%;
  height: 2.0rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  color: rgba(0,0,0,var(--text-opacity));
  padding-left: 1.25rem;
}

.hs-test-app_views-231-25:focus {
  outline: 0;
}

.hs-test-app_views-955-17 {
  margin-top: 1.75rem;
}

.hs-test-app_views-587-20 {
  display: flex;
  flex-direction: row;
  gap-x: (20);
  margin-bottom: 1.25rem;
}

.hs-test-app_views-900-37 {
  width: 6.25rem;
}

.hs-test-app_views-920-21 {
  width: 100%;
  border-width: 2px;
  max-width: 42rem;
  border-color: rgba(160,174,192,var(--border-opacity));
  height: 3.75rem;
  --border-opacity: 1;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding-left: 2.5rem;
}

.hs-test-app_views-920-21:focus-within {
  border-width: 2px;
  border-color: rgba(56,178,172,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-983-25 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 6.0rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(45,55,72,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-983-25:hover {
  border-width: 3px;
  border-color: rgba(72,187,120,var(--border-opacity));
  --border-opacity: 1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hs-test-app_views-984-25 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 6.0rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(45,55,72,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-984-25:hover {
  border-width: 3px;
  border-color: rgba(72,187,120,var(--border-opacity));
  --border-opacity: 1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hs-test-app_views-1015-18 {
  margin-top: 1.0rem;
  margin-bottom: 2.0rem;
}

.hs-test-app_views-744-85 {
  visibility: hidden;
}

.hs-test-app_views-1066-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-998-18 {
  margin-top: 1.0rem;
  margin-bottom: 2.0rem;
}

.hs-test-app_views-886-33 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-886-33:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-951-21 {
  width: 15.0rem;
  font-size: 1rem;
}

.hs-test-app_views-939-18 {
  width: 45.0rem;
  border-width: 2px;
  padding-bottom: 1.0rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 1.0rem;
}

.hs-test-app_views-997-28 {
  width: 12.5rem;
  font-size: 1.125rem;
}

.hs-test-app_views-963-17 {
  margin-top: 1.75rem;
}

.hs-test-app_views-999-36 {
  width: 17.5rem;
  text-align: left;
}

.hs-test-app_views-675-20 {
  display: flex;
  flex-direction: row;
  margin-bottom: 5.0rem;
}

.hs-test-app_views-1059-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-996-17 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-1055-18 {
  min-height: 100vh;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-1045-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-816-17 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-470-23 {
  border-width: 2px;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-color: rgba(90,103,216,var(--border-opacity));
  --bg-opacity: 1;
  height: 3.75rem;
  --border-opacity: 1;
  font-weight: 600;
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  border-radius: 0.5rem;
  focus-outline-none: nil;
}

.hs-test-app_views-997-17 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-426-23 {
  --text-opacity: 1;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  height: 3.75rem;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: rgba(255,255,255,var(--text-opacity));
  focus-outline-none: nil;
}

.hs-test-app_views-960-18 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  height: 4.5rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1.125rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(74,85,104,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-1019-18 {
  min-height: 100vh;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-954-21 {
  width: 2.5rem;
}

.hs-test-app_views-647-75 {
  width: 35.0rem;
}

.hs-test-app_views-667-66 {
  width: 37.5rem;
}

.hs-test-app_views-975-21 {
  width: 15.0rem;
  font-size: 1rem;
}

.hs-test-app_views-972-21 {
  width: 17.5rem;
}

.hs-test-app_views-1022-18 {
  margin-top: 1.0rem;
  margin-bottom: 2.0rem;
}

.hs-test-app_views-1042-18 {
  width: 100.0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgba(74,85,104,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 700;
  margin-bottom: 1.75rem;
}

.hs-test-app_views-696-35 {
  width: 12.5rem;
}

.hs-test-app_views-885-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.hs-test-app_views-815-17 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-450-23 {
  height: 3.75rem;
  color: rgba(76,81,191,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1rem;
  font-weight: 600;
  focus-outline-none: nil;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-450-23:hover {
  color: rgba(102,126,234,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-747-85 {
  visibility: hidden;
}

.hs-test-app_views-979-25 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 6.0rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(45,55,72,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-979-25:hover {
  border-width: 3px;
  border-color: rgba(72,187,120,var(--border-opacity));
  --border-opacity: 1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hs-test-app_views-979-21 {
  width: 2.5rem;
}

.hs-test-app_views-1001-28 {
  width: 2.5rem;
}

.hs-test-app_views-592-66 {
  width: 15.0rem;
}

.hs-test-app_views-383-21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hs-test-app_views-998-28 {
  width: 12.5rem;
  font-size: 1.125rem;
}

.hs-test-app_views-659-20 {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
}

.hs-test-app_views-621-69 {
  width: 15.0rem;
}

.hs-test-app_views-942-21 {
  width: 100%;
  border-width: 2px;
  max-width: 42rem;
  border-color: rgba(160,174,192,var(--border-opacity));
  height: 3.75rem;
  --border-opacity: 1;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding-left: 2.5rem;
}

.hs-test-app_views-942-21:focus-within {
  border-width: 2px;
  border-color: rgba(56,178,172,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-945-21 {
  width: 100%;
  border-width: 2px;
  max-width: 42rem;
  border-color: rgba(160,174,192,var(--border-opacity));
  height: 3.75rem;
  --border-opacity: 1;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding-left: 2.5rem;
}

.hs-test-app_views-945-21:focus-within {
  border-width: 2px;
  border-color: rgba(56,178,172,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-856-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap-x: (2);
}

.hs-test-app_views-944-21 {
  width: 100%;
  border-width: 2px;
  max-width: 42rem;
  border-color: rgba(160,174,192,var(--border-opacity));
  height: 3.75rem;
  --border-opacity: 1;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding-left: 2.5rem;
}

.hs-test-app_views-944-21:focus-within {
  border-width: 2px;
  border-color: rgba(56,178,172,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-892-37 {
  width: 6.25rem;
}

.hs-test-app_views-948-21 {
  width: 2.5rem;
}

.hs-test-app_views-821-18 {
  margin-top: 1.0rem;
  margin-bottom: 2.0rem;
}

.hs-test-app_views-1039-18 {
  width: 100.0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgba(74,85,104,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 700;
  margin-bottom: 1.75rem;
}

.hs-test-app_views-980-28 {
  width: 2.5rem;
}

.hs-test-app_views-1023-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-1001-30 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-1001-30:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-1034-18 {
  min-height: 100vh;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-625-69 {
  width: 15.0rem;
}

.hs-test-app_views-683-66 {
  width: 20.0rem;
}

.hs-test-app_views-1046-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-1020-17 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-932-18 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-1018-18 {
  min-height: 100vh;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-859-78 {
  width: 7.5rem;
}

.hs-test-app_views-586-20 {
  display: flex;
  flex-direction: row;
  gap-x: (20);
  margin-bottom: 1.25rem;
}

.hs-test-app_views-834-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap-x: (2);
}

.hs-test-app_views-126-59 {
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 0.5rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-397-56 {
  width: 10.0rem;
}

.hs-test-app_views-1016-36 {
  width: 17.5rem;
  text-align: left;
}

.hs-test-app_views-932-34 {
  width: 12.5rem;
}

.hs-test-app_views-1050-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-693-35 {
  width: 12.5rem;
}

.hs-test-app_views-684-66 {
  width: 20.0rem;
}

.hs-test-app_views-773-93 {
  width: 20.0rem;
}

.hs-test-app_views-611-66 {
  width: 15.0rem;
}

.hs-test-app_views-936-18 {
  width: 45.0rem;
  border-width: 2px;
  padding-bottom: 1.0rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 1.0rem;
}

.hs-test-app_views-927-18 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hs-test-app_views-924-18 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-1005-28 {
  width: 15.0rem;
}

.hs-test-app_views-1021-17 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-187-18 {
  height: 1.25rem;
  color: rgba(245,101,101,var(--text-opacity));
  --text-opacity: 1;
  font-size: .75rem;
  font-weight: 600;
  margin-left: 0.75rem;
}

.hs-test-app_views-635-20 {
  display: flex;
  flex-direction: row;
  gap-x: (20);
  margin-bottom: 1.25rem;
}

.hs-test-app_views-987-25 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 6.0rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(45,55,72,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-987-25:hover {
  border-width: 3px;
  border-color: rgba(72,187,120,var(--border-opacity));
  --border-opacity: 1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hs-test-app_views-938-17 {
  margin-top: 1.75rem;
}

.hs-test-app_views-634-20 {
  display: flex;
  flex-direction: row;
  gap-x: (20);
  margin-bottom: 1.25rem;
}

.hs-test-app_views-719-69 {
  width: 7.5rem;
}

.hs-test-app_views-967-21 {
  width: 17.5rem;
}

.hs-test-app_views-1061-18 {
  width: 100.0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgba(74,85,104,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 700;
  margin-bottom: 1.75rem;
}

.hs-test-app_views-821-36 {
  width: 17.5rem;
  text-align: left;
}

.hs-test-app_views-720-66 {
  visibility: hidden;
}

.hs-test-app_views-408-67 {
  width: 12.5rem;
}

.hs-test-app_views-664-66 {
  width: 37.5rem;
}

.hs-test-app_views-927-34 {
  width: 12.5rem;
}

.hs-test-app_views-1030-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-993-28 {
  width: 12.5rem;
  font-size: 1.125rem;
}

.hs-test-app_views-963-18 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  height: 4.5rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1.125rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(74,85,104,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-865-33 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-865-33:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-855-78 {
  width: 7.5rem;
}

.hs-test-app_views-960-17 {
  margin-top: 1.75rem;
}

.hs-test-app_views-962-17 {
  margin-top: 1.75rem;
}

.hs-test-app_views-624-69 {
  width: 15.0rem;
}

.hs-test-app_views-648-75 {
  width: 35.0rem;
}

.hs-test-app_views-1049-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-819-17 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-1024-18 {
  width: 100.0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgba(74,85,104,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 700;
  margin-bottom: 1.75rem;
}

.hs-test-app_views-1008-30 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-1008-30:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-742-88 {
  width: 7.5rem;
}

.hs-test-app_views-425-23 {
  --text-opacity: 1;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  height: 3.75rem;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: rgba(255,255,255,var(--text-opacity));
  focus-outline-none: nil;
}

.hs-test-app_views-431-23 {
  background-color: rgba(154,230,180,var(--bg-opacity));
  --bg-opacity: 1;
}

.hs-test-app_views-589-20 {
  display: flex;
  flex-direction: row;
  gap-x: (20);
  margin-bottom: 1.25rem;
}

.hs-test-app_views-979-28 {
  width: 2.5rem;
}

.hs-test-app_views-818-36 {
  width: 17.5rem;
  text-align: left;
}

.hs-test-app_views-160-52 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-160-52:focus-within {
  color: rgba(49,151,149,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 600;
}

.hs-test-app_views-887-33 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-887-33:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-590-20 {
  display: flex;
  flex-direction: row;
  gap-x: (20);
  margin-bottom: 1.25rem;
}

.hs-test-app_views-818-17 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-855-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap-x: (2);
}

.hs-test-app_views-743-88 {
  width: 7.5rem;
}

.hs-test-app_views-607-66 {
  width: 15.0rem;
}

.hs-test-app_views-929-18 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-886-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.hs-test-app_views-158-55 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-158-55:focus-within {
  color: rgba(49,151,149,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 600;
}

.hs-test-app_views-964-18 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  height: 4.5rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1.125rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(74,85,104,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-662-20 {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
}

.hs-test-app_views-850-33 {
  width: 65.0rem;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-bottom: 0.5rem;
  background-color: rgba(237,242,247,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-479-23 {
  color: rgba(90,103,216,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-479-23:hover {
  background-color: rgba(90,103,216,var(--bg-opacity));
  --bg-opacity: 1;
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-479-23:active {
  background-color: rgba(76,81,191,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: rgba(76,81,191,var(--border-opacity));
  --border-opacity: 1;
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-170-22 {
  display: block;
}

.hs-test-app_views-205-25 {
  width: 100%;
  --text-opacity: 1;
  --bg-opacity: 0%;
  height: 2.0rem;
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  color: rgba(0,0,0,var(--text-opacity));
  padding-left: 1.25rem;
}

.hs-test-app_views-205-25:focus {
  outline: 0;
}

.hs-test-app_views-1043-18 {
  width: 100.0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgba(74,85,104,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 700;
  margin-bottom: 1.75rem;
}

.hs-test-app_views-973-21 {
  width: 15.0rem;
  font-size: 1rem;
}

.hs-test-app_views-638-20 {
  display: flex;
  flex-direction: row;
  gap-x: (20);
  margin-bottom: 1.25rem;
}

.hs-test-app_views-692-35 {
  width: 12.5rem;
}

.hs-test-app_views-793-72 {
  width: 20.0rem;
}

.hs-test-app_views-1052-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-875-37 {
  width: 6.25rem;
}

.hs-test-app_views-906-18 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hs-test-app_views-469-23 {
  border-width: 2px;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-color: rgba(90,103,216,var(--border-opacity));
  --bg-opacity: 1;
  height: 3.75rem;
  --border-opacity: 1;
  font-weight: 600;
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  border-radius: 0.5rem;
  focus-outline-none: nil;
}

.hs-test-app_views-1047-18 {
  min-height: 100vh;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-853-33 {
  width: 65.0rem;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-bottom: 0.5rem;
  background-color: rgba(237,242,247,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-985-30 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-985-30:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-1004-28 {
  width: 12.5rem;
}

.hs-test-app_views-888-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.hs-test-app_views-976-28 {
  width: 12.5rem;
  font-size: 1.125rem;
}

.hs-test-app_views-1009-30 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-1009-30:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-1041-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-966-21 {
  width: 12.5rem;
}

.hs-test-app_views-949-21 {
  width: 12.5rem;
}

.hs-test-app_views-971-21 {
  width: 12.5rem;
}