blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
  padding: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  color: #a0aec0;
}

button, [role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

pre, code, kbd, samp {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

.hs-test-app_views-861-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap-x: (2);
}

.hs-test-app_views-377-65 {
  width: 25.0rem;
}

.hs-test-app_views-947-22 {
  min-width: 100%;
  width: 100%;
  border-width: 2px;
  max-width: 42rem;
  border-color: rgba(160,174,192,var(--border-opacity));
  height: 3.75rem;
  --border-opacity: 1;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding-left: 2.5rem;
}

.hs-test-app_views-947-22:focus-within {
  border-width: 2px;
  border-color: rgba(56,178,172,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-935-34 {
  width: 12.5rem;
}

.hs-test-app_views-149-64 {
  border-width: 2px;
  border-color: rgba(245,101,101,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-1052-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-386-67 {
  width: 7.5rem;
}

.hs-test-app_views-381-20 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hs-test-app_views-605-66 {
  width: 15.0rem;
}

.hs-test-app_views-1015-30 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-1015-30:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-1014-28 {
  width: 15.0rem;
}

.hs-test-app_views-157-37 {
  color: rgba(245,101,101,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 600;
}

.hs-test-app_views-1020-28 {
  width: 12.5rem;
}

.hs-test-app_views-129-56 {
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 2px;
  border-color: rgba(237,242,247,var(--border-opacity));
  --border-opacity: 1;
  border-radius: 0.5rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-938-18 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-622-69 {
  width: 15.0rem;
}

.hs-test-app_views-991-25 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 6.0rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(45,55,72,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-991-25:hover {
  border-width: 3px;
  border-color: rgba(72,187,120,var(--border-opacity));
  --border-opacity: 1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hs-test-app_views-137-56 {
  padding-bottom: 0.25rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding-right: 0.25rem;
  display: block;
  padding-left: 0.25rem;
  padding-top: 0.25rem;
}

.hs-test-app_views-946-18 {
  width: 45.0rem;
  border-width: 2px;
  padding-bottom: 1.0rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 1.0rem;
}

.hs-test-app_views-981-21 {
  width: 12.5rem;
}

.hs-test-app_views-986-21 {
  width: 2.5rem;
}

.hs-test-app_views-905-37 {
  width: 6.25rem;
}

.hs-test-app_views-987-21 {
  width: 2.5rem;
}

.hs-test-app_views-975-18 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  height: 4.5rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1.125rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(74,85,104,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-681-66 {
  width: 20.0rem;
}

.hs-test-app_views-1015-28 {
  width: 17.5rem;
}

.hs-test-app_views-739-66 {
  visibility: hidden;
}

.hs-test-app_views-765-88 {
  width: 7.5rem;
}

.hs-test-app_views-382-21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hs-test-app_views-931-18 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hs-test-app_views-619-69 {
  width: 15.0rem;
}

.hs-test-app_views-1012-28 {
  width: 17.5rem;
}

.hs-test-app_views-1051-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-941-34 {
  width: 12.5rem;
}

.hs-test-app_views-968-17 {
  margin-top: 1.75rem;
}

.hs-test-app_views-632-20 {
  display: flex;
  flex-direction: row;
  gap-x: (20);
  margin-bottom: 1.25rem;
}

.hs-test-app_views-951-22 {
  min-width: 100%;
  width: 100%;
  border-width: 2px;
  max-width: 42rem;
  border-color: rgba(160,174,192,var(--border-opacity));
  height: 3.75rem;
  --border-opacity: 1;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding-left: 2.5rem;
}

.hs-test-app_views-951-22:focus-within {
  border-width: 2px;
  border-color: rgba(56,178,172,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-768-88 {
  width: 7.5rem;
}

.hs-test-app_views-981-18 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  height: 4.5rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1.125rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(74,85,104,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-864-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap-x: (2);
}

.hs-test-app_views-971-17 {
  margin-top: 1.75rem;
}

.hs-test-app_views-1021-28 {
  width: 17.5rem;
}

.hs-test-app_views-895-33 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-895-33:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-954-22 {
  min-width: 100%;
  width: 100%;
  border-width: 2px;
  max-width: 42rem;
  border-color: rgba(160,174,192,var(--border-opacity));
  height: 3.75rem;
  --border-opacity: 1;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding-left: 2.5rem;
}

.hs-test-app_views-954-22:focus-within {
  border-width: 2px;
  border-color: rgba(56,178,172,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-976-21 {
  width: 12.5rem;
}

.hs-test-app_views-940-18 {
  width: 45.0rem;
  border-width: 2px;
  padding-bottom: 1.0rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 1.0rem;
}

.hs-test-app_views-478-23 {
  color: rgba(90,103,216,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-478-23:hover {
  background-color: rgba(90,103,216,var(--bg-opacity));
  --bg-opacity: 1;
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-478-23:active {
  background-color: rgba(76,81,191,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: rgba(76,81,191,var(--border-opacity));
  --border-opacity: 1;
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-915-37 {
  width: 6.25rem;
  margin-left: 1.5rem;
}

.hs-test-app_views-141-53 {
  padding-bottom: 0.25rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding-right: 0.25rem;
  display: block;
  padding-left: 0.25rem;
  padding-top: 0.25rem;
}

.hs-test-app_views-984-21 {
  width: 15.0rem;
  font-size: 1rem;
}

.hs-test-app_views-944-18 {
  width: 45.0rem;
  border-width: 2px;
  padding-bottom: 1.0rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 1.0rem;
}

.hs-test-app_views-1022-28 {
  width: 15.0rem;
}

.hs-test-app_views-972-18 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  height: 4.5rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1.125rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(74,85,104,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-954-20 {
  width: 100%;
}

.hs-test-app_views-816-72 {
  width: 20.0rem;
}

.hs-test-app_views-1007-28 {
  width: 2.5rem;
}

.hs-test-app_views-937-18 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hs-test-app_views-645-75 {
  width: 35.0rem;
}

.hs-test-app_views-734-69 {
  width: 7.5rem;
}

.hs-test-app_views-767-85 {
  visibility: hidden;
}

.hs-test-app_views-973-18 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  height: 4.5rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1.125rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(74,85,104,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-1063-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-704-18 {
  margin-top: 1.0rem;
  margin-bottom: 2.0rem;
}

.hs-test-app_views-985-21 {
  width: 17.5rem;
}

.hs-test-app_views-661-66 {
  width: 37.5rem;
}

.hs-test-app_views-673-20 {
  display: flex;
  flex-direction: row;
  margin-bottom: 5.0rem;
}

.hs-test-app_views-978-21 {
  width: 12.5rem;
}

.hs-test-app_views-934-18 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hs-test-app_views-678-66 {
  width: 20.0rem;
}

.hs-test-app_views-1019-28 {
  width: 2.5rem;
}

.hs-test-app_views-676-20 {
  display: flex;
  flex-direction: row;
  margin-bottom: 5.0rem;
}

.hs-test-app_views-432-23 {
  background-color: rgba(56,161,105,var(--bg-opacity));
  --bg-opacity: 1;
}

.hs-test-app_views-432-23:hover {
  background-color: rgba(47,133,90,var(--bg-opacity));
  --bg-opacity: 1;
}

.hs-test-app_views-432-23:active {
  background-color: rgba(39,103,73,var(--bg-opacity));
  --bg-opacity: 1;
}

.hs-test-app_views-891-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.hs-test-app_views-974-17 {
  margin-top: 1.75rem;
}

.hs-test-app_views-949-20 {
  width: 100%;
}

.hs-test-app_views-910-37 {
  width: 6.25rem;
  margin-left: 1.5rem;
}

.hs-test-app_views-1065-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-948-18 {
  width: 45.0rem;
  border-width: 2px;
  padding-bottom: 1.0rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 1.0rem;
}

.hs-test-app_views-1064-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-151-64 {
  border-width: 2px;
  border-color: rgba(160,174,192,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-151-64:focus-within {
  border-width: 2px;
  border-color: rgba(56,178,172,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-946-20 {
  width: 100%;
}

.hs-test-app_views-702-17 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-642-75 {
  width: 35.0rem;
}

.hs-test-app_views-1008-28 {
  width: 12.5rem;
}

.hs-test-app_views-690-35 {
  width: 12.5rem;
}

.hs-test-app_views-1053-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-952-20 {
  width: 100%;
}

.hs-test-app_views-995-21 {
  width: 2.5rem;
}

.hs-test-app_views-153-55 {
  border-width: 2px;
  border-color: rgba(237,242,247,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-186-35 {
  visibility: hidden;
}

.hs-test-app_views-476-23 {
  color: rgba(163,191,250,var(--text-opacity));
  --text-opacity: 1;
  border-width: 1px;
  border-color: rgba(163,191,250,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-1011-28 {
  width: 12.5rem;
}

.hs-test-app_views-990-21 {
  width: 12.5rem;
}

.hs-test-app_views-1048-18 {
  min-height: 100vh;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-989-21 {
  width: 2.5rem;
}

.hs-test-app_views-608-66 {
  width: 15.0rem;
}

.hs-test-app_views-231-25 {
  width: 100%;
  --text-opacity: 1;
  --bg-opacity: 0%;
  height: 2.0rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  color: rgba(0,0,0,var(--text-opacity));
  padding-left: 1.25rem;
}

.hs-test-app_views-231-25:focus {
  outline: 0;
}

.hs-test-app_views-1049-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-589-66 {
  width: 15.0rem;
}

.hs-test-app_views-950-20 {
  width: 100%;
}

.hs-test-app_views-587-20 {
  display: flex;
  flex-direction: row;
  gap-x: (20);
  margin-bottom: 1.25rem;
}

.hs-test-app_views-1022-30 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-1022-30:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-917-37 {
  width: 6.25rem;
  margin-left: 1.5rem;
}

.hs-test-app_views-584-20 {
  display: flex;
  flex-direction: row;
  gap-x: (20);
  margin-bottom: 1.25rem;
}

.hs-test-app_views-938-34 {
  width: 12.5rem;
}

.hs-test-app_views-980-18 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  height: 4.5rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1.125rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(74,85,104,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-939-18 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hs-test-app_views-943-18 {
  width: 45.0rem;
  border-width: 2px;
  padding-bottom: 1.0rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 1.0rem;
}

.hs-test-app_views-1059-18 {
  width: 100.0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgba(74,85,104,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 700;
  margin-bottom: 1.75rem;
}

.hs-test-app_views-1023-30 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-1023-30:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-705-36 {
  width: 17.5rem;
  text-align: left;
}

.hs-test-app_views-795-93 {
  width: 20.0rem;
}

.hs-test-app_views-1055-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-737-69 {
  width: 7.5rem;
}

.hs-test-app_views-1045-18 {
  min-height: 100vh;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-819-72 {
  width: 20.0rem;
}

.hs-test-app_views-991-21 {
  width: 17.5rem;
}

.hs-test-app_views-1009-28 {
  width: 17.5rem;
}

.hs-test-app_views-972-17 {
  margin-top: 1.75rem;
}

.hs-test-app_views-935-18 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-656-20 {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
}

.hs-test-app_views-1013-28 {
  width: 15.0rem;
}

.hs-test-app_views-1042-18 {
  min-height: 100vh;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-450-23 {
  height: 3.75rem;
  color: rgba(76,81,191,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1rem;
  font-weight: 600;
  focus-outline-none: nil;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-450-23:hover {
  color: rgba(102,126,234,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-894-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.hs-test-app_views-980-17 {
  margin-top: 1.75rem;
}

.hs-test-app_views-979-21 {
  width: 17.5rem;
}

.hs-test-app_views-592-66 {
  width: 15.0rem;
}

.hs-test-app_views-982-21 {
  width: 17.5rem;
}

.hs-test-app_views-995-25 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 6.0rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(45,55,72,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-995-25:hover {
  border-width: 3px;
  border-color: rgba(72,187,120,var(--border-opacity));
  --border-opacity: 1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hs-test-app_views-994-25 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 6.0rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(45,55,72,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-994-25:hover {
  border-width: 3px;
  border-color: rgba(72,187,120,var(--border-opacity));
  --border-opacity: 1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hs-test-app_views-659-20 {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
}

.hs-test-app_views-988-21 {
  width: 12.5rem;
}

.hs-test-app_views-1016-28 {
  width: 15.0rem;
}

.hs-test-app_views-707-18 {
  margin-top: 1.0rem;
  margin-bottom: 2.0rem;
}

.hs-test-app_views-992-21 {
  width: 15.0rem;
  font-size: 1rem;
}

.hs-test-app_views-708-36 {
  width: 17.5rem;
  text-align: left;
}

.hs-test-app_views-1057-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-1057-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-980-21 {
  width: 15.0rem;
  font-size: 1rem;
}

.hs-test-app_views-1046-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-932-18 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-1054-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-1056-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}

.hs-test-app_views-1018-28 {
  width: 2.5rem;
}

.hs-test-app_views-856-33 {
  width: 65.0rem;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-bottom: 0.5rem;
  background-color: rgba(237,242,247,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-126-59 {
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 0.5rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-397-56 {
  width: 10.0rem;
}

.hs-test-app_views-949-18 {
  width: 45.0rem;
  border-width: 2px;
  padding-bottom: 1.0rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 1.0rem;
}

.hs-test-app_views-1050-18 {
  width: 100.0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgba(74,85,104,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 700;
  margin-bottom: 1.75rem;
}

.hs-test-app_views-1062-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-693-35 {
  width: 12.5rem;
}

.hs-test-app_views-969-18 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  height: 4.5rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1.125rem;
  background-color: rgba(235,244,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(74,85,104,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-936-18 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-997-25 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 6.0rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(45,55,72,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-997-25:hover {
  border-width: 3px;
  border-color: rgba(72,187,120,var(--border-opacity));
  --border-opacity: 1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hs-test-app_views-187-18 {
  height: 1.25rem;
  color: rgba(245,101,101,var(--text-opacity));
  --text-opacity: 1;
  font-size: .75rem;
  font-weight: 600;
  margin-left: 0.75rem;
}

.hs-test-app_views-635-20 {
  display: flex;
  flex-direction: row;
  gap-x: (20);
  margin-bottom: 1.25rem;
}

.hs-test-app_views-1058-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hs-test-app_views-1003-25 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 6.0rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(45,55,72,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-1003-25:hover {
  border-width: 3px;
  border-color: rgba(72,187,120,var(--border-opacity));
  --border-opacity: 1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hs-test-app_views-408-67 {
  width: 12.5rem;
}

.hs-test-app_views-664-66 {
  width: 37.5rem;
}

.hs-test-app_views-955-22 {
  min-width: 100%;
  width: 100%;
  border-width: 2px;
  max-width: 42rem;
  border-color: rgba(160,174,192,var(--border-opacity));
  height: 3.75rem;
  --border-opacity: 1;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding-left: 2.5rem;
}

.hs-test-app_views-955-22:focus-within {
  border-width: 2px;
  border-color: rgba(56,178,172,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-979-17 {
  margin-top: 1.75rem;
}

.hs-test-app_views-892-33 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-892-33:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-425-23 {
  --text-opacity: 1;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  height: 3.75rem;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: rgba(255,255,255,var(--text-opacity));
  focus-outline-none: nil;
}

.hs-test-app_views-431-23 {
  background-color: rgba(154,230,180,var(--bg-opacity));
  --bg-opacity: 1;
}

.hs-test-app_views-160-52 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-160-52:focus-within {
  color: rgba(49,151,149,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 600;
}

.hs-test-app_views-1010-28 {
  width: 15.0rem;
}

.hs-test-app_views-977-21 {
  width: 2.5rem;
}

.hs-test-app_views-868-78 {
  width: 7.5rem;
}

.hs-test-app_views-1014-30 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-1014-30:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-158-55 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-158-55:focus-within {
  color: rgba(49,151,149,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 600;
}

.hs-test-app_views-865-78 {
  width: 7.5rem;
}

.hs-test-app_views-798-93 {
  width: 20.0rem;
}

.hs-test-app_views-170-22 {
  display: block;
}

.hs-test-app_views-1053-18 {
  width: 100.0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgba(74,85,104,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 700;
  margin-bottom: 1.75rem;
}

.hs-test-app_views-983-21 {
  width: 2.5rem;
}

.hs-test-app_views-205-25 {
  width: 100%;
  --text-opacity: 1;
  --bg-opacity: 0%;
  height: 2.0rem;
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  color: rgba(0,0,0,var(--text-opacity));
  padding-left: 1.25rem;
}

.hs-test-app_views-205-25:focus {
  outline: 0;
}

.hs-test-app_views-950-22 {
  min-width: 100%;
  width: 100%;
  border-width: 2px;
  max-width: 42rem;
  border-color: rgba(160,174,192,var(--border-opacity));
  height: 3.75rem;
  --border-opacity: 1;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding-left: 2.5rem;
}

.hs-test-app_views-950-22:focus-within {
  border-width: 2px;
  border-color: rgba(56,178,172,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-953-22 {
  min-width: 100%;
  width: 100%;
  border-width: 2px;
  max-width: 42rem;
  border-color: rgba(160,174,192,var(--border-opacity));
  height: 3.75rem;
  --border-opacity: 1;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding-left: 2.5rem;
}

.hs-test-app_views-953-22:focus-within {
  border-width: 2px;
  border-color: rgba(56,178,172,var(--border-opacity));
  --border-opacity: 1;
}

.hs-test-app_views-736-66 {
  visibility: hidden;
}

.hs-test-app_views-902-37 {
  width: 6.25rem;
}

.hs-test-app_views-1017-30 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-1017-30:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-939-34 {
  width: 12.5rem;
}

.hs-test-app_views-859-33 {
  width: 65.0rem;
  border-width: 2px;
  padding-bottom: 0.5rem;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-between;
  --bg-opacity: 1;
  height: 6.0rem;
  --border-opacity: 1;
  flex-direction: row;
  margin-bottom: 0.5rem;
  background-color: rgba(237,242,247,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-770-85 {
  visibility: hidden;
}

.hs-test-app_views-705-17 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.hs-test-app_views-1002-25 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.5rem;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-color: rgba(226,232,240,var(--border-opacity));
  justify-content: space-around;
  --bg-opacity: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 6.0rem;
  align-items: center;
  --border-opacity: 1;
  flex-direction: row;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  color: rgba(45,55,72,var(--text-opacity));
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.hs-test-app_views-1002-25:hover {
  border-width: 3px;
  border-color: rgba(72,187,120,var(--border-opacity));
  --border-opacity: 1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hs-test-app_views-469-23 {
  border-width: 2px;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-color: rgba(90,103,216,var(--border-opacity));
  --bg-opacity: 1;
  height: 3.75rem;
  --border-opacity: 1;
  font-weight: 600;
  font-size: 1rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  border-radius: 0.5rem;
  focus-outline-none: nil;
}

.hs-test-app_views-994-21 {
  width: 2.5rem;
}

.hs-test-app_views-1047-18 {
  width: 100.0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgba(74,85,104,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 700;
  margin-bottom: 1.75rem;
}

.hs-test-app_views-913-37 {
  width: 6.25rem;
  margin-left: 1.5rem;
}

.hs-test-app_views-1004-28 {
  width: 12.5rem;
  font-size: 1.125rem;
}

.hs-test-app_views-1011-30 {
  --bg-opacity: 0%;
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-size: 1.875rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.hs-test-app_views-1011-30:hover {
  color: rgba(229,62,62,var(--text-opacity));
  --text-opacity: 1;
}

.hs-test-app_views-943-34 {
  width: 12.5rem;
}

.hs-test-app_views-1059-12 {
  width: 100.0rem;
  background-color: rgba(255,255,255,var(--bg-opacity));
  --bg-opacity: 1;
  border-radius: 24px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.0rem;
  padding-bottom: 2.5rem;
}